* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* --------------------- this are temporary styles for html remove when your done!---------------------------- */
* {
    padding: 1rem; 
    border: 2px solid rgb(210,210,210);
}

body { border: none; }
html { border: none; }